.container{
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
    padding: 25px;
    border: 3px solid rgba(9, 50, 73, 0.959);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.842);
    .prescription{
        opacity: 0.80;
    }
    hr{
        opacity: 0.25;
    }
    .formInputs{
        display: flex;
        flex-direction: column;
        padding: 15px;
        .countryAndPhone{
            margin-top: 8px;
            margin-bottom: 4px;
            display: flex;
            justify-content: space-between;
        }
        .buttons{
            margin: auto;
            display: flex;
            justify-content: space-between;
            width: 450px;
        }
    }
    a{
        text-decoration: none;
    }
    
}